# Configuración para usar exclusivamente pnpm
engine-strict=true

# Prevenir el uso de npm
engine-strict=true

# Configuración para mejorar la instalación
node-linker=hoisted
shared-workspace-lockfile=false

# Configuración para prevenir el uso de herramientas que no sean pnpm
prefer-offline=true